{% extends 'mailings_app/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">Клиент: {{object.name}}</h1>
    <div class="text-end">
            <a class="btn btn-outline-secondary" href="{% url 'mailings:client_update' object.pk %}">Редактировать</a>
            <a class="btn btn-outline-danger" href="{% url 'mailings:client_delete' object.pk %}">Удалить</a>
    </div>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-3">
                <div class="card text-center" style="width: 18rem;">

                    <div class="card-body">
                        <p class="card-text">Email: {{object.email}}</p>


                    </div>
                    <div class="card-footer">
                        <h6>

                        </h6>
                    </div>
                </div>
            </div>
            <div  class="col-6">
                <p>
                    Примечание: {{object.comment}}
                </p>
            </div>
                <div class="col-3">

                </div>

        </div>
    </div>
    </div>
{% endblock %}