{% extends 'mailings_app/base.html' %}

{% block content %}

<br>

<div class="container">
    <h5 class="text-center">Действительно желаете удалить рассылку'{{object.message.title}}'?</h5>
        <div class="text-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <a class="btn btn-light m-3" href="{% url 'mailings:mailings_detail' object.pk %}">Отменить</a>
                <button type="submit" class="btn btn-danger m-3">Да, удалить</button>
            </form>
        </div>
</div>

{% endblock %}