{% extends 'mailings_app/base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="text-end">
        <a class="btn btn-outline-secondary" href="{% url 'mailings:message_create' %}">Добавить сообщение</a>
    </div>
    <br>
    <div class="row">
                {% for object in object_list %}
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            Название сообщения: {{object.title}}
                        </div>
                        <div class="card-body">

                            <p class="card-text">Сообщение: {{object.message}}</p>



                            <a href="{% url 'mailings:message_detail' object.pk %}" class="btn btn-primary">Подробнее</a>

                        </div>
                        <div class="card-footer">
                            <h6>

                            </h6>
                        </div>


                    </div>
                </div>
                {% endfor %}
    </div>
</div>

{% endblock %}