{% extends 'mailings_app/base.html' %}

{% block content %}
<br>
<div class="container">

    <br>
    <div class="row">
        {% for object in object_list %}

            <div class="col">
                <div class="card text-center">
                    <div class="card-header">Пользователь: {{object.email}}</div>
                    <div class="card-body">
                        <p class="card-text">Телефон: {{object.phone}}</p>
                        <p class="card-text">Страна: {{object.country}}</p>
                        {% if user.is_superuser or perms.users.can_deactivate_user %}
                            <a href="{% url 'users:update_user' object.pk %}" class="btn btn-outline-primary">Режим активации</a>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <h6>
                            {% if object.is_active %}
                                <h6 class="text-center">Активен</h6>
                            {% else %}
                                <h6 class="text-center">Неактивен</h6>
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}