{% if user.is_authenticated %}
    <a class="p-l-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a>
    <a class="p-l-2 btn btn-outline-primary" href="{% url 'mailings:mailings_list' %}">Рассылки</a>
    <a class="p-l-2 btn btn-outline-primary" href="{% url 'mailings:client_list' %}">Клиенты</a>
    <a class="p-l-2 btn btn-outline-primary" href="{% url 'mailings:message_list' %}">Сообщения</a>
        {% if user.is_staff %}
        <a class="p-l-2 btn btn-outline-primary" href="{% url 'users:users_list' %}">Пользователи</a>
        {% endif %}
{% else %}
    <a class="p-l-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
    <a class="p-l-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
    <a class="p-l-2 btn btn-outline-primary" href="{% url 'blog:blog_list' %}">Блог</a>
{% endif %}